*{
    box-sizing: border-box;
}

.nav-bg{
    background-color: #F0F2F3;
}
.container-fluid > .navbar-brand > img {
    height: 30px;
    padding: 0px;
}

#header-div .navbar .nav-link {
    padding: 4px;
    outline: none !important;
    /* color: var(--text-field-heading) !important; */
    font-size: 16px;
    /* font-weight: 500;
    line-height: 23.4px; */
} 

.gapp{
    gap: 30px;
}
.nav-functions{
    gap: 10px;
}

.notification-gap{
    gap: 10px;
}
.notification-container > svg rect {
    fill: white;
    color: #000;
}
.cart-container button{
    border: none;
    background-color: white;
    padding: 6px 12px;
    border-radius: 5px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.notification-svg{
    height: 36px;
    width: 36px;
}
.favourite-svg{
    height: 36px;
    width: 36px;
}

.user-svg{
    height: 36px;
    width: 36px;
}
.cart-container > button > span:last-of-type {
    background-color: #8EC549;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 2px 7px;
    font-size: 10px;
}

.cart-container > button > span:first-of-type {
    color: #272343;
    font-size: 12px;
    font-weight: 500;
    line-height: 13.2px;
    text-align: center;
}

/* main */

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 0px 60px;
}

.cart-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.heading > h4 {
    font-size: 1.35rem;
    font-weight: 600;
    line-height: 26.4px;
    text-align: left;
}

.cart-information{
    width: 100%;
    margin: 20px 0px;
}

.cart-description {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 3px 11px 4px #0000000F;
    padding: 30px;
}
.cart-description .description-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description-heading span{
    font-size: 18px;
    font-weight: 600;
    line-height: 19.8px;
    text-align: left;
    color: #000000;
}

.cart-description .cart-description-list{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}
.cart-items{
    display: flex;
    justify-content: space-between;
}
.cart-items .cart-info {
    display: flex;
    gap: 15px;
}
.cart-items .cart-info .img-container{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 13px 41px 0px #3B3B3D1B;
    overflow: hidden;
}
.cart-items .cart-info .img-container img{
    width: 100%;
    height: 100%;
}
.cart-items .cart-info .img-info .details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}

.cart-items .cart-info .img-info .details input{
    width: 50px;
    height: 27px;
    padding: 12px 11px;
    border-radius: 10px;
    border: 1px;
    border: 1px solid #ECECEC;
    box-shadow: 0px 0px 5px 0px #00000021;
}

.cart-info .img-info .first span{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    color: #000000;
}
.cart-action{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.cart-action > div:nth-child(2) > span {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
    color: #8EC549;
}

.cart-action > div:last-child > span {
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    text-align: left;
    color: #8EC549;
}
.second{
    font-size: 16px;
    font-weight: 500;
    opacity: .8;
}
.more-shopping{
    margin-top: 90px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.more-shopping > a {
    font-size: 22px;
    font-weight: 600;
    line-height: 26.4px;
    text-align: center;
    color: #8EC549;
}


.order-summary {
    height: 100%;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 3px 11px 4px #0000000F;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-summary > div{
    display: flex;
    flex-direction: column;

}

.order-summary > div > .order-heading > h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 19.8px;
    text-align: left;
    color: #000000;
}

.amount-container> div{
    display: flex;
    justify-content: space-between;
}
.checkout-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.checkout-container .total-count .count{
    display: flex;
    justify-content: space-between;
}

.checkout-container .checkout-button .btn-modal{
    border: none;
    width: 100%;
    color: #FFFFFF;
    background-color: #8EC549;
    border-radius: 8px;
    padding: 10px 0px;
}
  /* modal additional code */
.modal {
   
    --bs-modal-width: 902px !important;
}
.modal-dialog{
    margin-top: 150px !important;
}
.modal-heading{
    display: flex;
    flex-direction: column;
    padding: 25px 0px !important;
    border-bottom: none !important;
}

.modal-heading span:first-child{
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
}
.modal-heading span:last-child{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    color: #313131;
}

.modal-body .card-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-body{
    padding: 20px 40px !important;
}
.card-details .details-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-details .details-heading> span{
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
}

.card-details .details-heading> button{
    border: none;
    width: 145px;
    color: #FFFFFF;
    background-color: #8EC549;
    border-radius: 8px;
    padding: 10px 0px;
}


/* services */
.pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.pagination  .pagination-list{
    display: flex;
    align-items:center ;
    gap: 5px;
    padding: 10px 8px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 11px 4px #0000000F;
}
.pagination  .pagination-list > .pagination-items{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #778088;
}

/* services */

.services-container {
    padding: 50px 70px;
    width: 100%;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 3px 11px 4px #0000000F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.services-content{
    display: flex;
    align-items: center;
    gap: 10px;

}

.services-container > .services-content > .service-text{
    display: flex;
    flex-direction: column;
}

.service-text > span:first-child {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    line-height: 19.8px;
    text-align: left;
}

.service-text > span:last-of-type {
    font-size: 13px;
    font-weight: 700;
    line-height: 16.5px;
    text-align: left;
    color: #454545;
}

/* footerrr */

.footer-container {
    max-width: 100% !important;
    background: #FCFCFC;
    padding-top: 60px;
}

footer {
    padding-left: 2.6%;
    padding-right: 2.6%;
}
.footer-logo{
    display: flex;
}

.footer-contect{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-contect span:first-child {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
    color: #000000;
}
.footer-contect span:last-child {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #494949;
}

.footer-header {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #000000;
    margin-bottom: 30px;
}

footer .nav-link {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #494949;
    padding: 8px 0px !important;
}

.col-3 {
    
    width: 25% !important;
}