*{
    box-sizing: border-box;
}

.nav-bg{
    background-color: #F0F2F3;
}
.container-fluid > .navbar-brand > img {
    height: 30px;
    padding: 0px;
}

#header-div .navbar .nav-link {
    padding: 4px;
    outline: none !important;
    /* color: var(--text-field-heading) !important; */
    font-size: 16px;
    /* font-weight: 500;
    line-height: 23.4px; */
} 

.gapp{
    gap: 30px;
}
.nav-functions{
    gap: 10px;
}

.notification-gap{
    gap: 10px;
}
.notification-container > svg rect {
    fill: white;
    color: #000;
}
.cart-container button{
    border: none;
    background-color: white;
    padding: 6px 12px;
    border-radius: 5px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.notification-svg{
    height: 36px;
    width: 36px;
}
.favourite-svg{
    height: 36px;
    width: 36px;
}

.user-svg{
    height: 36px;
    width: 36px;
}
.cart-container > button > span:last-of-type {
    background-color: #8EC549;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 2px 7px;
    font-size: 10px;
}

.cart-container > button > span:first-of-type {
    color: #272343;
    font-size: 12px;
    font-weight: 500;
    line-height: 13.2px;
    text-align: center;
}

/* main contewnt */

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0px 60px;
}
.product-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    margin: 90px 0px;
}

.product-container > .product-heading > h4 {
    font-size: 1.35rem;
    font-weight: 600;
    line-height: 26.4px;
    text-align: left;
    margin: 0;
}

/* product filters */

.product-container > .product-filters {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.dropdown {
    position: relative;
    /* display: inline-block; */
    display: flex;
    gap: 10px;
    align-items: center;
}

.dropdown-togglee {
    background-color: #ffffff;
    border: 1px solid #f3f2f2;
    padding: 10px;
    cursor: pointer;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    /* height: 40px; */
    box-shadow: 0px 0px 4px 0px lightgray;
}

.dropdown-togglee:after {
    content: '';
    margin-left: 10px;
    display: inline-block;
    width: 10px; /* adjust based on your image dimensions */
    height: 10px;
    background-image: url('Vector.svg');
    background-size: contain; /* adjust as needed */
    background-repeat: no-repeat;

}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-top: 5px;
    padding: 10px;
    z-index: 1;
    width: 200px;
}

.dropdown-menu label {
    display: block;
    padding: 5px;
    cursor: pointer;
}

.dropdown-menu label:hover {
    background-color: #f1f1f1;
}

.dropdown-menu input {
    margin-right: 10px;
}

.filter-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.filter-btn{
    display: flex;
}

.filter-btn button {
    display: flex;
    border: none;
    width: 200px;
    height: 45px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #00000021;
    align-items: center;
    justify-content: center;
}

.activee {
   background-color: #8EC549 !important; 
    color: rgb(238, 236, 236);
}

/* products lists */
.product-lists {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1em;
}

.product-lists .product-content{
    border: 1px solid #ECECEC;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.product-image{
    width: 100%;
    height: 75%;
}

.product-image img{
    width: 100%;
    height: 100%;
}

.product-image-info{
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-image-info > span:last-of-type{
    color: #8EC549;
}
/* pagination */

.pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.pagination  .pagination-list{
    display: flex;
    align-items:center ;
    gap: 5px;
    padding: 10px 8px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 11px 4px #0000000F;
}
.pagination  .pagination-list > .pagination-items{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #778088;
}

/* services */

.services-container {
    padding: 50px 70px;
    width: 100%;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 3px 11px 4px #0000000F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.services-content{
    display: flex;
    align-items: center;
    gap: 10px;

}

.services-container > .services-content > .service-text{
    display: flex;
    flex-direction: column;
}

.service-text > span:first-child {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    line-height: 19.8px;
    text-align: left;
}

.service-text > span:last-of-type {
    font-size: 13px;
    font-weight: 700;
    line-height: 16.5px;
    text-align: left;
    color: #454545;
}


/* footer */

.footer-container {
    max-width: 100% !important;
    background: #FCFCFC;
    padding-top: 60px;
}

footer {
    padding-left: 2.6%;
    padding-right: 2.6%;
}
.footer-logo{
    display: flex;
}

.footer-contect{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-contect span:first-child {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: left;
    color: #000000;
}
.footer-contect span:last-child {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #494949;
}

.footer-header {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #000000;
    margin-bottom: 30px;
}

footer .nav-link {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #494949;
    padding: 8px 0px !important;
}

.col-3 {
    
    width: 25% !important;
}